# ===============================================================================================
# PROJECT CONFIGURATION
# ===============================================================================================

# The unique name for your project. Used to create the directory on the remote
#   server (/tmp/PROJECT_NAME).
# Default: server
#PROJECT_NAME=transcendence

# The IP address or hostname of your remote deployment server.
# - IF LEFT EMPTY: Deploys locally.
# - IF FILLED: Deploys remotely via SSH to the specified server.
#SERVER=192.168.1.54

# The relative path to your docker-compose file from the project root.
# Default: srcs/docker-compose.yaml
#COMPOSE_FILE=srcs/docker-compose.yaml

# --- SSL Certificates ---
# Paths are relative to the project root. They must be at same folder.
# If these files do not exist, the Dockerfile will automatically generate
# self-signed certificates during the build process to ensure HTTPS works.
# Supports .crt/.key or .pem extensions.
#SSL_CERT=certificates/cert.crt
#SSL_KEY=certificates/key.key

# ===============================================================================================
# ENVIRONMENT MODES (DEV / PROD)
# ===============================================================================================
# WARNING: DO NOT change or comment out these variables while containers are running!
# If you started the project in DEV mode, you MUST run 'make fclean' (or docker compose down)
#   BEFORE changing this variable back to production. Otherwise, Docker will lose track
#   of the dev containers and leave them running as orphans.

# Set to 'dev' to load development configurations (e.g., Vite HMR).
# Leave empty or comment out for production.
#FRONTEND_MODE=dev

# ===============================================================================================
# BACKEND CONFIGURATION
# ===============================================================================================

# Keeping it here for testing purposes, should be deleted later
DJANGO_SECRET_KEY='pf20f&r1_)$c^60dg=i25_j!fw930by@mh(p+9qobs0ukv6upr'

# ===============================================================================================
# DATA SERVICE CONFIGURATION
# ===============================================================================================

DATA_SERVICE_URL=http://data-service:9000/api
DATA_SERVICE_TOKEN=your-super-secret-internal-token-change-this-in-prod

DB_CONTAINER_NAME=database
SERVICE_CONTAINER_NAME=data-service
DATA_SERVICE=${DATA_SERVICE_URL}

# Change pass to secrets later
DB_ROOT_PASSWORD=superpassword
DB_NAME=transcendence_db
DB_USER=sql_user
DB_PASSWORD=sql_pass

# ===============================================================================================
# SSL CERTIFICATES CONFIGURATION
# ===============================================================================================

CA_CRT_NAME=ca.crt
CA_KEY_NAME=ca.key
INT_CRT_NAME=internal.crt
INT_KEY_NAME=internal.key