requests
httpx #async HTTP client used by the chat consumer to call data-service
Django
djangorestframework
djangorestframework-simplejwt[crypto] #for JWT authentication and later upgrade on keys
django-cors-headers #for CORS (Cross-Origin Resource Sharing) handling (browser security feature)
gunicorn #may be useful
pyOpenSSL<26 #for secure WebSocket connections (wss://) in production
#gunicorn
django-prometheus
stripe
#psycopg #missing for postgres, or other for database integration
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
redis==7.4.0
asgiref==3.11.1